# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# C/C++ build outputs
build/
build-*/
CMakeFiles/
CMakeCache.txt
cmake-build-*/
compile_commands.json
Testing/

# Object and library files
*.o
*.obj
*.a
*.la
*.lo
*.lib
*.so
*.so.*
*.dylib
*.dll

# Coverage
*.gcno
*.gcda
*.lcov

# IDE configs
.vs/

# python stuff
__pycache__/
.venv/

.cache/

